
.piano-circle {
    position: relative;
    background: linear-gradient(#b2d6d8, #205558);
    width: 300px;
    height: 300px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    z-index: 0;
    border-radius: 50%;
   animation: radiate 4s infinite alternate cubic-bezier(.26, .31, .79, .42);
}

@keyframes radiate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.radiating-circle {
    border-radius: 50%;
    background: linear-gradient(#b2d6d8, #205558);
    width: 150px;
    height: 150px;
    top: 72px;
    left: 72px;
    position: absolute;
    opacity: 0;
   animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    0% {
      transform: scale(.15, .15);
      opacity: 0;
    }
    35%{
        opacity: 0.1;
    }
    70% {
        opacity: 0.25;
    }
    85%{
        opacity: 0.1;
    }
    100% {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
}

.piano-top {
    width: 50px;
    height: 100px;
    top: 38px;
    left: 150px;
    position: absolute;
    transform: skew(45deg);
    background: linear-gradient(45deg, #2b2b2b, #5e9194);
}

.piano-side-1 {
    width: 50px;
    height: 200px;
    top: 38px;
    left: 100px;
    position: absolute;
    background: linear-gradient(#53888c, transparent 65%);
}

.piano-side-2 {
    width: 58px;
    height: 90px;
    top: 118px;
    left: 44px;
    position: absolute;
    background: linear-gradient(#69979b, transparent);
    border-radius: 8px 0;
}

.piano-side-3 {
    width: 50px;
    height: 160px;
    top: 138px;
    left: 200px;
    position: absolute;
    background: linear-gradient(#1b1b1b, black 40%);
}

.piano-side-4 {
    width: 52px;
    height: 90px;
    top: 226px;
    left: 150px;
    position: absolute;
    background: black;
    border-radius: 8px 0;
}

.white-key-wrapper {
    width: 50px;
    height: 100px;
    top: 126px;
    left: 100px;
    position: absolute;
    transform: skew(45deg);
    background: transparent;
}

.black-key-wrapper {
    width: 50px;
    height: 100px;
    top: 126px;
    left: 100px;
    position: absolute;
    transform: skew(45deg);
    background: transparent;
}

.white-key {
    position: absolute;
    width: 50px;
    height: 4px;
    background: whitesmoke;
    transform-origin: bottom right;
}

.white-key::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 4px;
    background: whitesmoke;
    transform: skew(0deg, 135deg);
    top: 3px;
    left: -6px;
}

.black-key {
    position: absolute;
    width: 38px;
    height: 2px;
    background: black;
    z-index:2;
    top:4px;
    left: 12px;
    border-radius:25%;
    transform-origin: bottom right;
}

$elements: 28;
@for $i from 0 to $elements {
  .white-key:nth-child(#{$i + 1}) {
      top: #{$i * 4}px;

      @if $i > 12 and $i < 21 {
       animation: play 1000ms #{$i * 100}ms linear alternate infinite;
      } @else if $i == 3 {
        animation: play 1500ms -200ms linear infinite;
      } @else if $i == 6 or $i == 8 {
       animation: playwaltz 1500ms 0ms linear infinite;
      }
  }
}

$blackkeys: 23;
@for $i from 0 to $blackkeys {
    .black-key:nth-child(#{$i + 1}) {
        top: #{$i * 4 + 4}px;
        @if ($i % 7 == 2 or $i % 7 == 6) {
            display: none;
        }
    }
}

@keyframes playwaltz {
    0% {
        transform: rotate(0deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    20% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-2deg);
    }
    46% {
        transform: rotate(0deg);
    }
    53% {
        transform: rotate(0deg);
    }
    66% {
        transform: rotate(-2deg);
    }
    79% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    12% {
        transform: rotate(-2deg);
    }
    24% {
        transform: rotate(0deg);
    }
    100% {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotate(0deg);
    }
}